<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Presence System</title>

    <link rel="stylesheet" href="\css\style.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap Link -->


    <!-- Font Awesome Cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- Font Awesome Cdn -->


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <!-- Google Fonts -->
</head>
  <body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">
        <img src="images\logo.jpg" alt="Company Logo" width="200px" height="100px" />
        <span class="logo">Faculty Presence System</span>
      </span>
      
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/improvements">Improvement</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login/Registration
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/login">Login as Student</a></li>
                <li><a class="dropdown-item" href="/teacherLogin">Login as Teacher</a></li>
                </ul>  
            </li>
          </ul>
        </div>
      </nav>

      <br /><br />
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">1. Bluetooth Capabilities:</a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">2. Bluetooth Classic (BR/EDR):</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">3. Bluetooth Low Energy (BLE):</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">4. BLE Advertising: </a>
        <a class="list-group-item list-group-item-action" href="#list-item-5">5. Bluetooth Stack:</a>
        <a class="list-group-item list-group-item-action" href="#list-item-6">6. ESP-IDF Framework:</a>
      </div>
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
        <h4 id="list-item-1">1. Bluetooth Capabilities:</h4>
        <p>The ESP32 supports Bluetooth Classic (BR/EDR) and Bluetooth Low Energy (BLE) communication. This makes it versatile for a variety of applications, ranging from traditional Bluetooth audio streaming to low-power IoT devices using BLE.</p>
        <h4 id="list-item-2">2. Bluetooth Classic (BR/EDR):</h4>
        <p>Profile Support: ESP32 supports various Bluetooth Classic profiles, such as Serial Port Profile (SPP), Audio/Video Remote Control Profile (AVRCP), and Hands-Free Profile (HFP). This allows ESP32 to emulate a serial port over Bluetooth, control audio devices, and interact with hands-free kits.
          Bluetooth Serial (SPP): The ESP32 can emulate a serial port over Bluetooth, enabling wireless communication with other Bluetooth devices.</p>
        <h4 id="list-item-3">3. Bluetooth Low Energy (BLE):</h4>
        <p>Peripheral and Central Modes: ESP32 can operate in both peripheral and central modes in BLE. In peripheral mode, it can advertise data or services to other devices. In central mode, it can scan for and connect to other BLE devices.
          GATT (Generic Attribute Profile): BLE devices communicate using the GATT protocol, defining a hierarchical data structure that organizes data into characteristics and services. ESP32 can act as both a GATT server and a GATT client.</p>
        <h4 id="list-item-4">4. BLE Advertising:</h4>
        <p>Advertising: In BLE, devices can advertise their presence and capabilities to nearby devices. ESP32 can be configured to broadcast specific information in its advertising packets, making it discoverable by other BLE devices.
        </p>
        <h4 id="list-item-5">5. Bluetooth Stack:</h4>
        <p>Bluetooth Stack: The ESP32 Bluetooth stack includes the lower layers, such as the Link Layer and the Host Controller Interface (HCI), as well as the upper layers like the Logical Link Control and Adaptation Protocol (L2CAP) and GATT.</p>
        <h4 id="list-item-6">6. ESP-IDF Framework:</h4>
        <p>ESP-IDF: The ESP32 Bluetooth functionality is typically programmed using the ESP-IDF (Espressif IoT Development Framework), which provides a set of APIs and tools for developing firmware on the ESP32.
        </p>

      </div>
      <footer id="footer">
        <div>© 2024 Faculty Presence System All Rights Reserved | Design by Pyari </a>
          </div>
          <div class="social-links">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-pinterest-p"></i>
          </div>
          <!-- Copyright -->
        </footer>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
  </html>